arrow==1.1.0
cachetools==4.2.2
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
dateparser==1.0.0
Flask==2.0.1
Flask-Cache==0.13.1
frozendict==2.0.2
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
lxml==4.6.3
MarkupSafe==2.0.1
PyLD==2.0.3
python-dateutil==2.8.1
pytz==2021.1
redis==3.5.3
regex==2021.4.4
requests==2.25.1
requests-cache==0.6.4
ruamel.yaml==0.17.9
ruamel.yaml.clib==0.2.2
simplejson==3.17.2
simplekv==0.14.1
six==1.16.0
tzlocal==2.1
url-normalize==1.4.3
urllib3==1.26.5
Werkzeug==2.2.3
